@model CatalogViewModel

<section id="advertisement">
    <div class="container">
        <img src="~/images/shop/advertisement.jpg" alt="" />
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <partial name="Partial/_LeftSideBar" />
            </div>

            <div class="col-sm-9 padding-right">
                <partial name="Partial/_FeaturesItems" model="@Model.Products"/>
            </div>
        </div>
    </div>
</section>
