@model WebStore.Domain.ViewModels.CartViewModel

@{
    var product_count = Model.ItemsCount > 0 ? Model.ItemsCount : (int?) null;
}

<div>
    <a asp-controller="Cart" asp-action="Details"><i class="fa fa-shopping-cart"></i> Корзина</a> @product_count
</div>