
@{
    ViewData["Title"] = "Заказ оформлен";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>

    <p>Заказ @ViewBag.OrderId оформлен и в скором времени будет обработан</p>

    <a asp-area="" asp-controller="Home" asp-action="Index"></a>
</div>