<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <!-- BOOTSTRAP STYLES-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <!-- FONTAWESOME STYLES-->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- CUSTOM STYLES-->
    <link href="~/admin/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="wrapper">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="~/admin/img/logo.png" />

                    </a>

                </div>

                <div class="pull-right">
                    <form asp-area="" asp-controller="Account" asp-action="Logout" asp-antiforgery="true" method="post">
                        <button type="submit" class="btn btn-link"><i class="fa fa-sign-out"></i> Выйти</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a asp-action="Index" asp-controller="Home" asp-area="Admin"><i class="fa fa-desktop "></i>Dashboard <span class="badge">Included</span></a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Products" asp-area="Admin"><i class="fa fa-edit "></i>Список товаров  <span class="badge">Included</span></a>
                    </li>
                    @*<li class="active-link">
                            <a href="ui.html"><i class="fa fa-table "></i>UI Elements  <span class="badge">Included</span></a>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-qrcode "></i>My Link One</a>
                        </li>*@
                </ul>
            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>@ViewBag.Title</h2>
                    </div>
                </div>

                @RenderBody()

            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-lg-12">
                &copy;  2014 webstore.com | Design by: <a href="http://binarytheme.com" style="color:#fff;" target="_blank">www.binarytheme.com</a>
            </div>
        </div>
    </div>
    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="~/admin/js/custom.js"></script>
</body>
</html>
