
@{
    ViewData["Title"] = "SignalRTest";
}

<div class="container">
    <h3>SignalR Test</h3>
    
    <div>
        <div id="input-form">
            <input type="text" id="message"/>
            <input type="button" value="Отправить" id="send-button" class="btn btn-default"/>
        </div>
        
        <ul id="information-block"></ul>
    </div>

</div>

@section Scripts
{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    
    <script>
        let hub_url = "/info";

        const connection = new signalR.HubConnectionBuilder()
            .withUrl(hub_url)
            .build();

        connection.on("Send", data => $("#information-block").prepend($("<li></li>").html(data)));

        $("#send-button").click(e => connection.invoke("Send", $("#message").val()));

        connection.start();
    </script>
}
