<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Check out</li>
            </ol>
        </div><!--/breadcrums-->

        <div class="step-one">
            <h2 class="heading">Step1</h2>
        </div>
        <div class="checkout-options">
            <h3>Новый пользователь</h3>
            <p>Варианты оформления</p>
            <ul class="nav">
                <li>
                    <label><input type="checkbox"> Зарегистрироваться</label>
                </li>
                <li>
                    <label><input type="checkbox"> Анонимно</label>
                </li>
                <li>
                    <a href=""><i class="fa fa-times"></i>Отмена</a>
                </li>
            </ul>
        </div><!--/checkout-options-->

        <div class="register-req">
            <p>Пожалуйста, зарегистрируйтесь и оформление заказа существенно упростится позволив сохранить историю. Либо можете оформить заказ анонимно.</p>
        </div><!--/register-req-->

        <div class="shopper-informations">
            <div class="row">
                <div class="col-sm-3">
                    <div class="shopper-info">
                        <p>Информация для покупателя</p>
                        <form>
                            <input type="text" placeholder="Отображаемое имя">
                            <input type="text" placeholder="Имя пользователя">
                            <input type="password" placeholder="Пароль">
                            <input type="password" placeholder="Подтверждение пароля">
                        </form>
                        <a class="btn btn-primary" href="">Подписаться на рассылки спама</a>
                        <a class="btn btn-primary" href="">Продолжить</a>
                    </div>
                </div>
                <div class="col-sm-5 clearfix">
                    <div class="bill-to">
                        <p>Bill To</p>
                        <div class="form-one">
                            <form>
                                <input type="text" placeholder="Компания">
                                <input type="text" placeholder="Почта*">
                                <input type="text" placeholder="Заголовок">
                                <input type="text" placeholder="Фамилия">
                                <input type="text" placeholder="Имя *">
                                <input type="text" placeholder="Отчество *">
                                <input type="text" placeholder="Адрес 1 *">
                                <input type="text" placeholder="Адрес 2">
                            </form>
                        </div>
                        <div class="form-two">
                            <form>
                                <input type="text" placeholder="Индекс *">
                                <select>
                                    <option>-- Страны --</option>
                                    <option>Россия</option>
                                    <option>Украина</option>
                                    <option>США</option>
                                    <option>Бангладеш</option>
                                    <option>Великобритания</option>
                                    <option>Индия</option>
                                    <option>Пакистан</option>
                                    <option>Канада</option>
                                    <option>Дубаи</option>
                                </select>
                                <select>
                                    <option>-- Регион --</option>
                                    <option>Россия</option>
                                    <option>Украина</option>
                                    <option>Россия</option>
                                    <option>Украина</option>
                                    <option>США</option>
                                    <option>Бангладеш</option>
                                    <option>Великобритания</option>
                                    <option>Индия</option>
                                    <option>Пакистан</option>
                                    <option>Канада</option>
                                    <option>Дубаи</option>
                                </select>
                                <input type="password" placeholder="Подтверждение пароля">
                                <input type="text" placeholder="Телефон *">
                                <input type="text" placeholder="Мобильный телефон">
                                <input type="text" placeholder="Факс">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="order-message">
                        <p>Информация о доставке</p>
                        <textarea name="message" placeholder="Сообщите требования о доставке." rows="16"></textarea>
                        <label><input type="checkbox"> Отправить на адрес оплаты</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="review-payment">
            <h2>Подтверждение и Оплата</h2>
        </div>

        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Позиция</td>
                        <td class="description">Описание</td>
                        <td class="price">Цена</td>
                        <td class="quantity">Количество</td>
                        <td class="total">Полная стоимость</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="cart_product">
                            <a href=""><img src="~/images/cart/one.png" alt=""></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="">Чёрная безрукавка</a></h4>
                            <p>арт.: 1089772</p>
                        </td>
                        <td class="cart_price">
                            <p>$59</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <a class="cart_quantity_up" href=""> + </a>
                                <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                                <a class="cart_quantity_down" href=""> - </a>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">$59</p>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td class="cart_product">
                            <a href=""><img src="~/images/cart/two.png" alt=""></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="">Чёрная безрукавка</a></h4>
                            <p>арт.: 1089772</p>
                        </td>
                        <td class="cart_price">
                            <p>$59</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <a class="cart_quantity_up" href=""> + </a>
                                <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                                <a class="cart_quantity_down" href=""> - </a>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">$59</p>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="cart_product">
                            <a href=""><img src="~/images/cart/three.png" alt=""></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="">Чёрная безрукавка</a></h4>
                            <p>арт.: 1089772</p>
                        </td>
                        <td class="cart_price">
                            <p>$59</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <a class="cart_quantity_up" href=""> + </a>
                                <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                                <a class="cart_quantity_down" href=""> - </a>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">$59</p>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">&nbsp;</td>
                        <td colspan="2">
                            <table class="table table-condensed total-result">
                                <tr>
                                    <td>Подитог</td>
                                    <td>$59</td>
                                </tr>
                                <tr>
                                    <td>Налог</td>
                                    <td>$2</td>
                                </tr>
                                <tr class="shipping-cost">
                                    <td>Стоимость доставки</td>
                                    <td>Бесплатно</td>
                                </tr>
                                <tr>
                                    <td>Итого</td>
                                    <td><span>$61</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="payment-options">
            <span>
                <label><input type="checkbox"> Банковский перевод</label>
            </span>
            <span>
                <label><input type="checkbox"> Карта</label>
            </span>
            <span>
                <label><input type="checkbox"> Paypal</label>
            </span>
        </div>
    </div>
</section> <!--/#cart_items-->
