<div class="panel-group category-products">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a asp-controller="UserProfile" asp-action="Index">Профиль</a>
            </h4>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a asp-controller="UserProfile" asp-action="Orders">Заказы</a>
            </h4>
        </div>
    </div>

</div>