@model RegisterUserViewModel
@{
    ViewData["Title"] = "Регистрация нового пользователя";
}

<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>Зарегистрироваться</h2>
                    <form asp-controller="Account" asp-action="Register" asp-antiforgery="true" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <input asp-for="UserName" placeholder="Имя пользователя" />
                        <span asp-validation-for="UserName" class="text-danger"></span>

                        <input asp-for="Password" placeholder="Пароль" />
                        <span asp-validation-for="Password" class="text-danger"></span>

                        <input asp-for="ConfirmPassword" placeholder="Повторить пароль" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                        <button type="submit" class="btn btn-default">Зарегистрироваться</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->
