@using WebStore.Infrastructure.Interfaces
@using WebStore.Infrastructure.Mapping
<partial name="Partial/_Slider" />

<section>
    <div class="container">
        <div class="row">

            <div class="col-sm-3">
                <partial name="Partial/_LeftSideBar" />
            </div>

            <div class="col-sm-9 padding-right">
              
                @inject IProductData catalog;

                <partial name="Partial/_FeaturesItems" model="@catalog.GetProducts().ToView()"/>

                <partial name="Partial/_CategoryTab"/>

                <partial name="Partial/_RecomendedItems"/>
            </div>
        </div>
    </div>
</section>
