
@{
    ViewData["Title"] = "Index";
}

<!-- /. ROW  -->
<hr />
<div class="row">
    <div class="col-lg-12 ">
        <div class="alert alert-info">
            <strong>Welcome Jhon Doe ! </strong> You Have No pending Task For Today.
        </div>

    </div>
</div>
<!-- /. ROW  -->
<div class="row text-center pad-top">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="#">
                <i class="fa fa-circle-o fa-5x"></i>
                <h4>Check Data</h4>
            </a>
        </div>


    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="#">
                <i class="fa fa-envelope-o fa-5x"></i>
                <h4>Mail Box</h4>
            </a>
        </div>


    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="#">
                <i class="fa fa-lightbulb-o fa-5x"></i>
                <h4>New Issues</h4>
            </a>
        </div>


    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="#">
                <i class="fa fa-users fa-5x"></i>
                <h4>See Users</h4>
            </a>
        </div>


    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="#">
                <i class="fa fa-key fa-5x"></i>
                <h4>Admin </h4>
            </a>
        </div>


    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="#">
                <i class="fa fa-comments-o fa-5x"></i>
                <h4>Support</h4>
            </a>
        </div>


    </div>
</div>