<div class="mainmenu pull-left">
    <ul class="nav navbar-nav collapse navbar-collapse">
        <li><a asp-controller="Home" asp-action="Index" class="active">Главная</a></li>
        <li class="dropdown">
            <a is-active-route ignore-action asp-controller="Catalog" asp-action="Shop">Магазин<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li><a is-active-route asp-controller="Catalog" asp-action="Shop">Каталог товаров</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a is-active-route ignore-action asp-controller="Blogs" asp-action="Index">Блоги<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li><a is-active-route asp-controller="Blogs" asp-action="Index">Список блогов</a></li>
                <li><a is-active-route asp-controller="Blogs" asp-action="BlogSingle">Блог магазина</a></li>
            </ul>
        </li>
        <li><a is-active-route asp-controller="Home" asp-action="Error404">404</a></li>
        <li><a is-active-route asp-controller="Home" asp-action="ContactUs">Контакты</a></li>
        <li><a asp-controller="Employees" asp-action="Index" class="@IsActive("Employees", "Index")">Сотрудники</a></li>
        <li><a asp-controller="WebAPITest" asp-action="Index" class="@IsActive("WebAPITest", "Index")">WebAPI</a></li>
    </ul>
</div>

@functions
{
    string IsActive(string Controller, string Action) =>
        Equals(Controller, ViewContext.RouteData.Values["Controller"])
        && Equals(Action, ViewContext.RouteData.Values["Action"])
            ? "active"
            : null;
}
