<div class="mainmenu pull-left">
    <ul class="nav navbar-nav collapse navbar-collapse">
        <li><a asp-controller="Home" asp-action="Index" class="active">Главная</a></li>
        <li class="dropdown">
            <a asp-controller="Catalog" asp-action="Shop">Магазин<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li><a asp-controller="Catalog" asp-action="Shop">Каталог товаров</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Блоги<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li><a asp-controller="Home" asp-action="Blog">Список блогов</a></li>
                <li><a asp-controller="Home" asp-action="BlogSingle">Блог магазина</a></li>
            </ul>
        </li>
        <li><a asp-controller="Home" asp-action="Error404">404</a></li>
        <li><a asp-controller="Home" asp-action="ContactUs">Контакты</a></li>
        <li><a asp-controller="Employees" asp-action="Index">Сотрудники</a></li>
    </ul>
</div>