<div class="breadcrumbs">
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Домой</a></li>
        <li class="active">
            <a asp-controller="Catalog" asp-action="Shop">Каталог</a>
        </li>
        

    </ol>
</div>